
.contacts{
background-image: url("../img/cont_bgc.jpg");
background-repeat: no-repeat;
background-size: cover;

width: 100%;
height: 400px;
font-family: $Ubuntu;
font-size: 14px;

@media (min-width:  $screen-xs ) {
font-size: 14px;
height: 100%;
}
@media (min-width:  $screen-lg ) {
height: 500px;
font-size: 16px;
}
}


.filial_close{
@media (max-width:  $screen-xs ) {
display: none;
}
}

.filial__open{
@media (max-width:  $screen-xs ) {
display: block;
color: black;
padding-left: 80px;
z-index: 1;
}
@media (min-width:  $screen-sm ) {
display: none;
}
}

.contacts__title{
padding-top: 45px;
font-family: $Jura;
font-size: 20px;
display: block;
margin-left: 10px;
color: white;
@media (min-width:  $screen-xs ) {
padding-top: 50px;
font-size: 30px;
}
@media (min-width:  $screen-sm ) {
padding-top: 65px;
font-size: 30px;
margin-left: 55px;
}
}

.contacts__container{
display: flex;
margin-left: 10px;
margin-right: 10px;
flex-wrap:wrap;
margin-top: 35px;

@media (min-width:  $screen-xs ) {
margin-right: 15px;
margin-bottom: 50px;
margin-top: 0px;
flex-wrap:wrap;
}
@media (min-width:  $screen-sm ) {
margin-left: 55px;
margin-right: 55px;
margin-bottom: 50px;
margin-top: 0px;

flex-direction:row;
justify-content: space-between;
}
}
.contacts__container--bgc{
position: relative;
top: -220px;
@media (max-width:  $screen-xs ) {
  display: none;
}
}

.contacts__filial{
color: white;
display: inline-block;
min-width: 180px;

  &--last{
    color: white;
    display: inline-block;
    min-width: 180px;
    margin-bottom: 100px;
  }

@media (min-width:  $screen-xs ) {
margin-top: 65px;
}
@media (min-width:  $screen-sm ) {
margin-top: 80px;
}
}

.contacts_filial_info{
@media (max-width:  $screen-xs ) {
  display: none;
}
}


.contacts__filial_name{
display: block;
margin-left: 20px;
line-height: 2;
}

.contacts__filial_name:before{
content: '';
display: inline-block;

height: 10px;
width: 10px;
background-color: #89c1a1;
position: relative;
left: -20px;
}

.contacts__filial_manager{
margin-top: 30px;
display: block
}
.contacts__filial_telephone{
display: block;
margin-top: 55px;
}
.contacts__filial_vklink{
margin-top: 25px;
display: block;
}
.contacts__filial_email{
margin-top: 25px;
display: block;
margin-bottom: 100px;
}

a.contacts__filial_telephone{
text-decoration: none;
color: white;
}
a.contacts__filial_vklink{
text-decoration: none;
color: white;
}
a.contacts__filial_email{
text-decoration: none;
color: white;
}

.contacts__filial_manager--black{
margin-top: 30px;
display: block
}
.contacts__filial_telephone--black{
display: block;
margin-top: 25px;
}
.contacts__filial_vklink--black{
margin-top: 15px;
display: block;
}
.contacts__filial_email--black{
margin-top: 15px;
display: block;
}

a.contacts__filial_telephone--black{
text-decoration: none;
color: black;
}
a.contacts__filial_vklink--black{
text-decoration: none;
color: black;
}
a.contacts__filial_email--black{
text-decoration: none;
color: black;
}


.contacts__modal_bgc{
width: 100%;
height: 100%;
background-color: white;
opacity: 0.4;
position: fixed;
top: 0;

@media (min-width:  $screen-xs ) {
display: none;
}
}

.contacts__modal_window{
display: block;
background-color: white;
height: 240px;
width: 95%;
position: relative;
margin: 0 auto;
z-index: 1;
color: black;
top: 10px;
@media (min-width:  $screen-xs ) {
display: none;
}
}

.contacts__modal_filial{
margin-left: 80px;
padding-top: 20px;
}

.contacts__modal-close:before{
content:"";
background-image: url("../img/close.png");
height: 15px;
width: 15px;
display: inline-block;
float: right;
margin-top: 15px;
margin-right: 15px;
}