.fact{
background-color: #f7f7f7;
height: 100%;
display: block;


@media (min-width:  $screen-xs) {
height: 100%;

}
 @media (min-width:  $screen-sm) {
height: 300px;

 }
}

.fact__green_line{
  background-color:#03eaa5;

  position: absolute;
  width: 2px;
  height: 200px;
  margin-top: 50px;
  margin-left: 5px;


@media (min-width:  $screen-xs ) {
height: 1px;
width: 92%;
margin-top: 60px;
}
@media (min-width:  $screen-sm ) {
height: 1px;
width: 92%;
margin-top: 80px;
}
}

.fact__stage_blocks{
display: flex;
flex-direction: column;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 30px;

@media (min-width:  $screen-xs ) {
flex-direction: row;
justify-content: space-between;
margin-right: 20px;
margin-left: 20px;
}


@media (min-width:  $screen-sm ) {
flex-direction: row;
justify-content: space-between;
margin-right: 55px;
margin-left: 55px;
}
}



.fact__stage_block{
  float: left;
  flex-direction: row;
  margin-top: 30px;
}




.fact__title{
font-family: $Jura;

display: block;
font-weight: 300;
font-size: 20px;
padding-top: 30px;
padding-left: 10px;

@media (min-width:  $screen-xs ) {

font-weight: 300;
font-size: 30px;
padding-top: 40px;
padding-left: 10px;
}
@media (min-width:  $screen-sm ) {

font-weight: 300;
font-size: 30px;
padding-top: 65px;
padding-left: 55px;
 }
}

.fact__stage_number{
font-family: $Ubuntu;
display: block;
font-weight: 700;
color: #e6e6e6;
font-size: 27px;
position: relative;
left: 10px;


@media (min-width:  $screen-xs) {
font-size: 27px;
position: relative;
left: -25px;
}
@media (min-width:  $screen-sm ) {
font-size: 45px;
position: relative;
left: -25px;
}


}

.fact__stage_number:before{
content:'';
display: inline-block;
height: 15px;
width: 15px;
background-color:#03eaa5;
position: relative;
left: -10px;

@media (min-width:  $screen-xs ){
top:15px;
left: 20px;
}
}

.fact__text{
font-family: $Ubuntu;
display: block;
font-weight: 300;
font-size: 12px;
margin-left: 25px;

@media (min-width:  $screen-xs ){
font-size: 12px;
max-width:215px;
margin-left: 0px;
}
@media (min-width:  $screen-sm) {
font-size: 16px;
max-width: 315px;
margin-left: 0px;
}
}

.fact__line{
background-color: #98c8ac;
}