.feedback{
background-color: #b2dad0;
height: 100%;
width: 100%;
overflow: hidden;

@media (min-width:  $screen-xs ) {
height: 100%;
overflow: hidden;
}
@media (min-width:  $screen-sm ) {
height: 100%;
overflow: hidden;
}
}

.feedback_autoplay{
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;
width: 90%;
box-sizing:border-box;

@media (min-width:  $screen-xs ) {
margin-left: 10px;
margin-right: 10px;
box-sizing:border-box
}
@media (min-width:  $screen-sm ) {
margin-left: 55px;
margin-right: 55px;
box-sizing:border-box
}
}

.feedback__button{
width: 20px;
height: 20px;
background-color: red;
}

.feedback__title{
padding-top: 35px;
font-family: $Jura;
font-size: 20px;
display: block;
margin-left: 10px;
@media (min-width:  $screen-xs ) {
font-size: 30px;
margin-left: 10px;
}
@media (min-width:  $screen-sm ) {
padding-top: 75px;
margin-left: 55px;
margin-right: 55px;
font-size: 30px;
}
}

.feedback__review{
display: inline-block;
margin-left: 10px;
display: flex;

@media (min-width:  $screen-xs ) {
margin-left: 10px;
flex-shrink:2;

}
@media (min-width:  $screen-sm ) {
margin-left: 55px;
flex-shrink:2;
}
}

.feedback__author{
margin-top: 35px;
float: left;
}

.feedback__author_photo{
height: 60px;
width: 60px;
display: block;
@media (min-width:  $screen-xs ) {
max-height: 80px;
max-width: 85px;
flex-shrink:2;
}
 @media (min-width:  $screen-sm ) {
height: 150px;
width: 170px;
flex-shrink:2;
}
}

.feedback__author_name{
margin-top: 15px;
line-height: 1.5;
display: block;

font-size: 10px;
font-family: $Ubuntu;
@media (min-width:  $screen-xs ) {
}
 @media (min-width:  $screen-sm ) {
font-size: 16px;
}
}


.feedback__bubble{
width: 140px;
padding: 20px 10px 20px 10px;
margin-top: 35px;
margin-left: 30px;

height: 140px;
background-color: white;

font-size: 10px;
font-family: $Ubuntu;
line-height: 1.3;
display:inline-block;

@media (min-width:  $screen-xs ) {
padding: 20px 10px 20px 10px;
width: 500px;
height: 100%;
margin-left: 20px;
max-width: 40%;
}
@media (min-width:  $screen-sm ) {
width: 340px;
font-size: 16px;
padding: 30px 30px 30px 30px;
height: 100%;
margin-left: 70px;
}
}

.feedback__bubble:before{
content: '';
display: inline-block;
width: 0;
height: 0;
border-top: 20px solid white;
border-left: 25px solid transparent;
position: relative;
left: -35px;
top: -20px;

@media (min-width:  $screen-xs ) {
border-top: 15px solid white;
border-left: 25px solid transparent;
left: -30px;
top: -20px;
flex-shrink:2;
}
@media (min-width:  $screen-sm ) {
border-top: 30px solid white;
border-left: 45px solid transparent;
left: -75px;
top: -30px;
flex-shrink:2;
}

}


.feedback .slick-dots{
height: 10px;
position: relative;
margin-bottom: 20px;

@media (min-width:  $screen-xs ) {
display: inline-block;
margin-bottom: 20px;
padding-bottom: 40px;
}
@media (min-width:  $screen-sm) {
display: inline-block;
}
}


.feedback .slick-dots li{
height: 10px;
width: 10px;
margin-right: 30px;
float:left;
background-color: white;

}

.feedback .slick-arrow{
  display: none
}
.feedback .slick-next:before{
  display: none;
  content:"";
}

.slick-active:before{
  content:"";
  background-color: white;
}

.feedback .slick-dots{

  li{
    &.slick-active button:before{
    content:'';
    display: inline-block;
    background-color: #465c6e;
    width: 10px;
    height: 10px;
    }
  }
}

.feedback .slick-prev:before{
content:'';
display: none;
}

.feedback .slick-next:before{
content:'';
display: none;
}