.legend {
background-size: cover;
height: 450px;
align-content: stretch;
color: white;
overflow: hidden;

@media (max-width: $screen-xs) {
background-image: url(../img/legend_bgc320.png);
display: block;
width: 100%;
flex-shrink: 2;
flex-wrap: wrap;
height: 100%;
}

@media (min-width:  $screen-sm) {
background-color: white;
display: block;

width: 100%;
flex-shrink: 2;
height: 545px;
margin-top: 20px;
}
}


.legend__container{
display: flex;
margin: auto;
position: relative;
max-width: 1200px;
}

.legend__left_block{
flex-grow:2;
width: 100%;
@media (min-width:  $screen-sm ) {
width: 300px;
}
@media (min-width:  $screen-xs) {
width: 50%;
height: 100%;
}
}


.legend__right-block{
display: none;

@media (min-width:  $screen-xs ) {
display: block;
float: left;
background-image: url("../img/legend_bgc780.png");
background-size: cover;
flex-schrink:1;
height: 400px;
width: 100%;
margin-right: 0;

}

@media (min-width:  $screen-sm ) {
display: block;
float: left;
background-image: url("../img/legend_bgc1280.png");
background-size: cover;
width: 50%;
height: 545px;
margin-right: 55px;
flex-schrink:1;
}
}

.legend__title{

color:white;
font-family: $Jura;
display: block;
font-weight: 300;
font-size: 20px;
margin-left: 10px;
margin-top: 40px;

@media (min-width:  $screen-xs) {
display: block;
font-weight: 300;
font-size: 30px;
margin-left: 10px;
margin-top: 45px;
color:black;
}

@media (min-width:  $screen-sm) {
display: block;
font-weight: 300;
font-size: 30px;
margin-left: 60px;
margin-top: 40px;
color:black;
}
}

.legend .slick-slide{
margin-bottom: 50px;
}

.legend__text_block{
display: flex;
flex-direction: row;
margin-top: 30px;


@media (min-width:  $screen-xs) {
display: flex;
flex-direction: row;
margin-left: 10px;
}
@media (min-width:  $screen-sm) {
display: flex;
flex-direction: row;
margin-left: 60px;
height: 300px;
}
}

.legend__text{
display: block;
font-family: $Ubuntu;
color: white;
font-weight: 300;
font-size: 12px;
margin-left: 10px;
margin-right: 10px;
line-height: 1.8;

@media (min-width:  $screen-xs){
font-weight: 300;
font-size: 12px;

margin-left: 30px;
line-height: 1.7;

height: 200px;
flex-schrink:2;
color:black;
max-width: 500px;
}
@media (min-width:  $screen-sm) {
font-weight: 300;
font-size: 16px;

margin-left: 50px;
margin-top: 40px;
line-height: 2;

flex-schrink:2;
height: 500px;
color:black;
max-width: 800px;
}
}


.legend .slick-prev:before{
display: none;

@media (min-width:  $screen-xs) {
content: "";
position: relative;
background-image: url("../img/slider_right.png");
background-repeat: no-repeat;
display: inline-block;
width: 33px;
height: 50px;
}

@media (min-width:  $screen-sm ) {
content: "";
position: relative;
background-image: url("../img/slider_right1280.png");
background-repeat: no-repeat;
display: inline-block;
width: 58px;
height: 58px;
}
}

.legend .slick-next:before{

display: none;

@media (min-width: $screen-xs) {
content: "";
position: relative;

background-image: url("../img/slider_left.png");
background-repeat: no-repeat;
display: inline-block;
width: 45px;
height: 50px;
left: 30px;
}

@media (min-width:  $screen-sm) {
content: "";
position: relative;

background-image: url("../img/slider_left1280.png");
background-repeat: no-repeat;
display: inline-block;
width: 58px;
height: 58px;
left: 50px;
}
}



.legend .slick-dots{
margin-left: 10px;
height: 10px;
width: 10px;
display: inline-block;
width: 100%;

@media (min-width:  $screen-xs ) {
margin-left: 30px;
display: inline-block;
}
@media (min-width:  $screen-sm) {
left: 20px;
margin-top: 100px;
margin-bottom: 15px;
display: inline-block;
}
}


.slick-dots li{
height: 10px;
width: 10px;
margin-right: 30px;
float:left;
background-color:#b2dad0;
}
