@import 'variables.scss';

.main_screen{
background-image: url(../img/header_bgc.jpg) ;

position: relative;


display: flex;
align-items: stretch;
color: white;
z-index: 1;
flex-direction:column;
height: 500px;
background-size: cover;


@media (min-width:  $screen-xs) {
height: 600px;

background-position:bottom;

}
@media (min-width:  $screen-sm){
background-size:cover;
background-position:bottom;
height: 650px;


}

}


ul{
margin-top: 105px;
margin-left: 10px;
-webkit-padding-start:0px;
}




.main_screen__title{
font-family:$Nord;
margin-left: 10px;
margin-top: 170px;
font-size: 30px;

@media (min-width:  $screen-xs) {
margin-left: 75px;
margin-top: 240px;
font-size: 50px;
}
@media (min-width:  $screen-sm){
margin-left: 55px;
margin-top: 240px;
font-size: 50px;
}
}

.main_screen__subtitle{
font-family:$Jura;
margin-left: 10px;
font-size: 16px;


@media (min-width:  $screen-xs) {
position: relative;
top: -25px;
margin-left: 75px;
font-weight: 400;
font-size: 20px;
}

@media (min-width:  $screen-sm){
position: relative;
top: -25px;

margin-left: 55px;
font-weight: 400;
font-size: 20px;
}
}


.main_screen__sidebar {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  z-index: 2;
  // height: 60px;
  display: block;
  background-color: rgba(28,21,49,0.5);
  display: block;
  height: 500px;
  width: 40px;
  flex-shrink: 2;
  position: absolute;
  right: 0;



  @media (min-width:  $screen-xs){
  display: none

  }

  @media (min-width:  $screen-sm +1px) {
  background-color: rgba(28,21,49,0.5);
  display: block;
  height: 650px;
  width: 40px;
  flex-shrink: 2;
  position: absolute;
  right: 0;

  }

}
.main_screen__button--vk{
margin-top: 40px;
margin-left: 3px;
}




a.main_screen__button--allphoto  {

text-decoration: none;
color: white;
display: block;
width: 200px;
position: relative;
left: -80px;
margin-top: 150px;
webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  // margin-top: 200px;

@media (min-width:  $screen-xs ) {
display: none;

}
@media (min-width:  $screen-sm ) {
text-decoration: none;
color: white;
display: block;
width: 200px;
position: relative;
left: -80px;
margin-top: 230px;
webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  // margin-top: 200px;
}






}

a.main_screen__button--allphoto :hover{
text-decoration: none;
color:#03eaa5
}