.price{
width: 100%;
@media (min-width:  $screen-xs ) {
height: 100%;
width: 100%;
}
@media (min-width:  $screen-sm ) {
height: 535px;
width: 100%;
}
}


.price__title{
font-family: $Jura;
font-size: 20px;
display: block;
padding-top: 30px;
padding-left: 40px;

@media (min-width:  $screen-xs ) {
font-size: 30px;
padding-top: 35px;
padding-left: 10px;
}
@media (min-width:  $screen-sm ) {
font-size: 30px;
font-size: 36px;
padding-top: 90px;
padding-left: 55px;
}
}

.price__categories ul{
display: flex;
font-family: $Jura;
flex-direction: column;
font-size: 12px;
// padding-left: 10px;

@media (min-width:  $screen-xs ) {
padding-left: 10px;
font-size: 20px;
flex-direction: row;
justify-content:space-between;
}
@media (min-width:  $screen-sm ) {
font-size: 20px;
padding-left: 55px;
flex-direction: row;
justify-content:space-between;
}
}

.price__categories li{
display: inline-block;
margin-top: 30px;
}

li.price__categories_item--active{
display: inline-block;
color: #89c1a1;
}

.price__categories_item:after{
content: '';
display: inline-block;
background-image: url("../img/arrow.png");
background-repeat: no-repeat;
height: 8px;
width: 8px;
position: relative;
margin-left: 15px;
}


.price__categories_item--active:after{
content: '';
display: inline-block;
background-image: url("../img/arrow_active.png");
transform:rotate(0deg);
background-repeat: no-repeat;
height: 8px;
width: 8px;
position: relative;
margin-left: 15px;
}

.price__list--active{
display: none;

@media (min-width:  $screen-xs ) {
display: block;
width: 450px;
margin-top: 30px;
margin-left: 10px;
text-align: center;
font-family: $Ubuntu;
font-size: 16px;
border-collapse: collapse;
}

@media (min-width:  $screen-sm ) {
display: block;
width: 770px;
font-size: 16px;
text-align: center;
font-family: $Ubuntu;
font-size: 16px;
border-collapse: collapse;
margin-top: 20px;
margin-left: 55px;
}
}

.price__list--active_mobile{
text-align: center;
font-family: $Ubuntu;
font-size: 10px;
border-collapse: collapse;
margin-top: 20px;

@media (min-width:  $screen-xs ) {
display: none;
}

@media (min-width:  $screen-sm ) {
display: none;
}
}


.price__list{
display: none;
}

.price__list--mobile{
display: none;
}

table.price__list{
  display: none;
}

tr{
  height: 65px;
}

th{
   height: 65px;
   border: 1px solid #d0d0d0;

 }
td{
   border: 1px solid #d0d0d0;
 }

a.price__full_list{
  display: none;
}
a.price__full_list--mobile{
  display: none;
}
a.price__full_list--active{
display: none;

@media (min-width:  $screen-xs ) {
display: block;
margin-top: 30px;
font-size: 10px;
font-family: $Ubuntu;
font-size: 16px;
margin-bottom: 50px;
margin-left: 10px;
color: #201c38;
}
@media (min-width:  $screen-sm ) {
display: block;
margin-top: 30px;
font-size: 10px;
font-family: $Ubuntu;
font-size: 16px;
margin-left: 55px;
margin-bottom: 80px;
color: #201c38;
}
}

a.price__full_list--active_mobile{
display: block;
margin-top: 30px;
font-size: 10px;
font-family: $Ubuntu;
font-size: 12px;
margin-bottom: 50px;
color: #201c38;

@media (min-width:  $screen-xs ) {
display: none;

}
@media (min-width:  $screen-sm ) {
display: none;
}
}

.price__full_list--active_mobile{
display: block;
margin-top: 30px;
font-size: 10px;
font-family: $Ubuntu;
font-size: 12px;
margin-bottom: 50px;

@media (min-width:  $screen-xs ) {
display: none;

}
@media (min-width:  $screen-sm ) {
display: none;
}
}




