.seasons{

display: flex;
flex-direction:row;
@media (min-width:  $screen-xs) {
  background-color:#eaeaec;
   height: 330px;
}
@media (min-width:  $screen-sm) {
  background-color: white;
  height: 530px;
}
}


.seasons__map{
background-image: url(../img/map.jpg);
background-size: cover;
background-color: red;
height: 350px;


@media (min-width:  $screen-xs) {
flex-schrink: 2;
background-size: cover;
height: 330px;
margin-left: 10px;
width: 50%;

}
@media (min-width:  $screen-sm) {
flex-schrink: 2;
background-size: cover;
height: 530px;
margin-left: 55px;

}
}

.season__description{
font-family: $Ubuntu;

@media (min-width:  $screen-xs) {

min-width: 450px;

}
@media (min-width:  $screen-sm) {
min-width: 330px;
height: 330px;
margin-left: 35px;
min-width: 330px;
}
}

.season__title{
font-family: $Jura;

display: block;
font-weight: 300;
font-size: 20px;
padding-top: 30px;
padding-left: 10px;

@media (min-width:  $screen-xs ) {

font-weight: 300;
font-size: 20px;
padding-top: 40px;
padding-left: 0px;
margin-left: 10px;
}
@media (min-width:  $screen-sm ) {

font-weight: 300;
font-size: 30px;
padding-top: 60px;
padding-left: 0px;
margin-left: 35px;
 }
}

.season__legend{
position: relative;
top: 220px;


@media (min-width:  $screen-xs ) {
margin-left: 10px;
margin-top: 40px;
}
@media (min-width:  $screen-sm ) {
margin-left: 35px;
margin-top: 60px;
}
}

.season__legend_clarification{




 &--red{
  margin-left: 20px;
  margin-right: 10px;
  font-style: $Jura;
  font-size: 10px;
  @media (min-width:  $screen-xs ) {
  font-size: 16px;
  margin-right: 50px;}
 }
  &--red:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ef8989;
  position: relative;
  left: -10px;
  }
&--blue{
 margin-right: 20px;
 font-style: $Jura;
  font-size: 10px;
  @media (min-width:  $screen-xs ) {
  font-size: 16px;
margin-right: 50px;}
}
&--blue:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #04a8a8;
  position: relative;
  left: -10px;
  }
&--yellow{
 margin-right: 20px;
 font-style: $Jura;
  font-size: 10px;
  @media (min-width:  $screen-xs ) {
  font-size: 16px;
margin-right: 50px;}
}
&--yellow:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #cdd63f;
  position: relative;
  left: -10px;
  }

&--orange{

font-style: $Jura;
  font-size: 10px;
  @media (min-width:  $screen-xs ) {
  font-size: 16px;
  margin-right: 50px;}
}

&--orange:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #efb672;
  position: relative;
  left: -10px;
  }
}





.season__comment{
line-height:1.5;
font-size: 12px;
margin-left: 10px;
margin-top: 40px;

@media (min-width:  $screen-xs ) {
font-size: 16px;
margin-left: 10px;
margin-top: 45px;
max-width: 400px;
line-height: 2;
}
@media (min-width:  $screen-sm ) {
font-size: 16px;
margin-left: 35px;
margin-top: 80px;
// min-width: 400px;
max-width: 500px;
line-height: 2;
}

}