$screen-xxs:                  0px;
$screen-xs:                   320px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$fiolet:#1c1531;
$mint:#03eaa5;


$Jura:'Jura', sans-serif;
$Ubuntu:'Ubuntu', sans-serif;
$Nord:'Nord-Medium';


$font-family:                 'Open Sans_my', sans-serif;
$font-size:                   14px;

